/venv/
venv
.venv
/venv
venv/

.env
__pycache__/
secrets.json

# Go dependencies and build files
vendor/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work
go.work.sum

# Go build cache
.cache/
/frontend/.env
frontend/.env
backend/sql_database/.env
backend/sql_database/game_table/.env
